In [119]:
import pandas as pd 
import numpy as np 
import itertools 

pd.options.mode.chained_assignment = None

In [120]:
df1 = pd.read_csv('/Users/karina/Desktop/SAS/MarketBusketFinal.csv', sep=';', encoding='utf-8-sig') 
df1

,НомерЗаказаНаСайте,Группа3,Количество,Дата,Телефон_new
0,1303000416_TR,КОЛЯСКИ,1,01.07.2017 11:05,55575450-56545653565673
1,1303000417_TR,КОЛЯСКИ,1,01.07.2017 14:31,55575449-56534953534875
2,1303000419_TR,"ДЕТСКАЯ МЕБЕЛЬ, МАТРАСЫ",1,01.07.2017 17:42,55575657-56534856555377
3,1303000422_TR,КОЛЯСКИ,1,06.07.2017 19:30,55574956-54495756525578
4,1303000423_TR,"ДЕТСКАЯ МЕБЕЛЬ, МАТРАСЫ",1,08.07.2017 19:57,55575448-52555350555377
...,...,...,...,...,...
146184,5413114_TR,ПЮРЕ,35,31.08.2017 23:42,55574953-50545748515570
146185,5413114_TR,СРЕДСТВА ГИГИЕНЫ,1,31.08.2017 23:42,55574953-50545748515570
146186,5413116_ES,ДЕТСКАЯ ОДЕЖДА (2-6 лет),1,31.08.2017 23:42,55574851-49555357575079
146187,5413126_TR,ЗАМЕНИТЕЛИ МОЛОКА,3,31.08.2017 23:42,55575349-53505051515379
146188,5413126_TR,ПОЛИГРАФИЧЕСКАЯ ПРОДУКЦИЯ,4,31.08.2017 23:42,55575349-53505051515379

In [121]:
clients = (df1.loc[:, ["НомерЗаказаНаСайте", "Телефон_new"]]).to_numpy()

In [122]:
clients

array([['1303000416_TR', '55575450-56545653565673'],
       ['1303000417_TR', '55575449-56534953534875'],
       ['1303000419_TR', '55575657-56534856555377'],
       ...,
       ['5413116_ES', '55574851-49555357575079'],
       ['5413126_TR', '55575349-53505051515379'],
       ['5413126_TR', '55575349-53505051515379']], dtype=object)

In [123]:
clients_dict = {a : b for a,b in clients}

In [124]:
clusters = pd.read_csv('/Users/karina/Desktop/final_clusters_4.csv', sep=';', encoding='utf-8-sig') 
clusters

,КоличествоЧеков,Среднийчек,СреднееЧислоТоваровЧека,Выручка,КоличествоТоваров,ВыручкаВсе,КоличествоТоваровВсе,ПроцентОтмен (в процентах),Доля выкупленных,ДЕТСКОЕ ПИТАНИЕ,...,Pick point,Безналичная,Наличная,МО,Москва,Регионы,СредняяМаржа,СредняяМаржаВсе,Кластер,ID
0,1,5215,1,5166,1,5166,1,1,1.0,0.0,...,0.0,1.0,0.0,0.0,1.0,0.0,-705.0,-705.0,3,49574954-56524849545119
1,1,1096,2,997,2,997,2,1,1.0,0.0,...,0.0,1.0,0.0,0.0,0.0,1.0,262.0,262.0,1,51534957-48525550515032
2,1,1345,1,1345,1,1345,1,1,1.0,0.0,...,0.0,1.0,0.0,0.0,0.0,1.0,-186.0,-186.0,3,55515349-57484951525673
3,1,362,1,313,1,313,1,1,1.0,0.0,...,0.0,1.0,0.0,0.0,1.0,0.0,21.0,21.0,1,55525757-49565652494875
4,1,17149,1,17000,1,17000,1,1,1.0,0.0,...,0.0,1.0,0.0,0.0,0.0,1.0,4446.0,4446.0,0,55545455-55555653564971
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
65923,1,2094,4,1995,4,1995,4,1,1.0,0.0,...,0.0,1.0,0.0,0.0,0.0,1.0,370.0,370.0,1,57505454-53495350565496
65924,1,498,1,399,1,399,1,1,1.0,0.0,...,0.0,1.0,0.0,0.0,0.0,1.0,63.0,63.0,3,57535051-57555156485395
65925,1,6319,1,6270,1,6270,1,1,1.0,0.0,...,0.0,1.0,0.0,1.0,0.0,0.0,570.0,570.0,1,57545253-57515750515193
65926,1,11088,1,10989,1,10989,1,1,1.0,0.0,...,0.0,1.0,0.0,1.0,0.0,0.0,2539.0,2539.0,0,57545349-48565651515597
65927,1,748,1,649,1,649,1,1,1.0,0.0,...,0.0,1.0,0.0,1.0,0.0,0.0,154.0,154.0,3,57555555-55564848524890

In [125]:
clusters.loc[:, ["ID", "Кластер"]].head(10)

                        ID  Кластер
0  49574954-56524849545119        3
1  51534957-48525550515032        1
2  55515349-57484951525673        3
3  55525757-49565652494875        1
4  55545455-55555653564971        0
5  55574848-48484848484870        0
6  55574848-48495057545270        1
7  55574848-48505052505370        1
8  55574848-48505157515576        1
9  55574848-48505250524971        1

In [126]:
pum = clusters.loc[:, ["ID", "Кластер"]] 

print(len(pum))

65928

In [127]:
clusters = (clusters.loc[:, ["ID", "Кластер"]]).to_numpy()

In [128]:
clusters

array([['49574954-56524849545119', 3],
       ['51534957-48525550515032', 1],
       ['55515349-57484951525673', 3],
       ...,
       ['57545253-57515750515193', 1],
       ['57545349-48565651515597', 0],
       ['57555555-55564848524890', 3]], dtype=object)

In [129]:
segment0 = [] 
segment1 = [] 
segment2 = [] 
segment3 = [] 

segments_dict = {a : b for a,b in clusters} 
for i in segments_dict: 
    if segments_dict[i] == 0: 
        segment0.append(i) 
    elif segments_dict[i] == 1: 
        segment1.append(i) 
    elif segments_dict[i] == 2: 
        segment2.append(i) 
    elif segments_dict[i] == 3: 
        segment2.append(i)

In [130]:
MBC = pd.read_csv('/Users/karina/Desktop/SAS/MBClient.csv', sep=';', encoding='utf-8-sig') 
MBC

,КЛИЕНТ,ДЕТСКОЕ ПИТАНИЕ,ЖЕНСКИЕ ШТУЧКИ,ИГРУШКИ,"КАНЦТОВАРЫ, КНИГИ, ДИСКИ",КОСМЕТИКА/ГИГИЕНА,КРУПНОГАБАРИТНЫЙ ТОВАР,ОБУВЬ,ПОДГУЗНИКИ,СОПУТСТВУЮЩИЕ ТОВАРЫ,"ТЕКСТИЛЬ, ТРИКОТАЖ",ТЕХНИКА И ТОВАРЫ ДЛЯ ДОМА,ТОВАРЫ ДЛЯ ЖИВОТНЫХ,ТОВАРЫ ДЛЯ КОРМЛЕНИЯ
0,49574954-56524849545119,0,0,1,0,0,0,0,0,0,0,0,0,0
1,51534957-48525550515032,0,0,0,0,0,0,0,0,0,3,0,0,0
2,55515349-57484951525673,0,0,1,0,0,0,0,0,0,0,0,0,0
3,55525757-49565652494875,0,0,0,0,0,0,0,0,0,0,0,0,1
4,55545455-55555653564971,0,0,0,0,0,1,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
65923,57505454-53495350565496,0,0,0,0,0,0,0,5,0,0,0,0,0
65924,57535051-57555156485395,0,0,1,0,0,0,0,0,0,0,0,0,0
65925,57545253-57515750515193,0,0,0,0,0,0,0,0,0,0,0,0,1
65926,57545349-48565651515597,0,0,0,0,0,1,0,0,0,0,0,0,0
65927,57555555-55564848524890,0,0,1,0,0,0,0,0,0,0,0,0,0

In [131]:
MB = pd.read_csv('/Users/karina/Desktop/SAS/MBCreate.csv', sep=';', encoding='utf-8-sig') 
MB

,ЧЕК,ДЕТСКОЕ ПИТАНИЕ,ЖЕНСКИЕ ШТУЧКИ,ИГРУШКИ,"КАНЦТОВАРЫ, КНИГИ, ДИСКИ",КОСМЕТИКА/ГИГИЕНА,КРУПНОГАБАРИТНЫЙ ТОВАР,ОБУВЬ,ПОДГУЗНИКИ,СОПУТСТВУЮЩИЕ ТОВАРЫ,"ТЕКСТИЛЬ, ТРИКОТАЖ",ТЕХНИКА И ТОВАРЫ ДЛЯ ДОМА,ТОВАРЫ ДЛЯ ЖИВОТНЫХ,ТОВАРЫ ДЛЯ КОРМЛЕНИЯ
0,1303000416_TR,0,0,0,0,0,1,0,0,0,0,0,0,0
1,1303000417_TR,0,0,0,0,0,1,0,0,0,0,0,0,0
2,1303000419_TR,0,0,0,0,0,1,0,0,0,0,0,0,0
3,1303000422_TR,0,0,0,0,0,1,0,0,0,0,0,0,0
4,1303000423_TR,0,0,0,0,0,1,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
84363,5413090_TR,0,0,0,0,0,0,0,0,0,0,0,0,1
84364,5413108_TR,0,0,0,0,0,0,0,1,0,0,0,0,0
84365,5413114_TR,38,0,0,0,1,0,0,0,0,0,0,0,0
84366,5413116_ES,0,0,0,0,0,0,0,0,0,1,0,0,0
84367,5413126_TR,3,0,0,4,0,0,0,0,0,0,0,0,0

In [132]:
bills_mba = MB["ЧЕК"].values.tolist() 
clients = []

In [133]:
for bill in bills_mba: 
    clients.append(clients_dict[bill])

In [134]:
MB.insert(0, "ТЕЛЕФОН", clients, True)

In [135]:
MB

,ТЕЛЕФОН,ЧЕК,ДЕТСКОЕ ПИТАНИЕ,ЖЕНСКИЕ ШТУЧКИ,ИГРУШКИ,"КАНЦТОВАРЫ, КНИГИ, ДИСКИ",КОСМЕТИКА/ГИГИЕНА,КРУПНОГАБАРИТНЫЙ ТОВАР,ОБУВЬ,ПОДГУЗНИКИ,СОПУТСТВУЮЩИЕ ТОВАРЫ,"ТЕКСТИЛЬ, ТРИКОТАЖ",ТЕХНИКА И ТОВАРЫ ДЛЯ ДОМА,ТОВАРЫ ДЛЯ ЖИВОТНЫХ,ТОВАРЫ ДЛЯ КОРМЛЕНИЯ
0,55575450-56545653565673,1303000416_TR,0,0,0,0,0,1,0,0,0,0,0,0,0
1,55575449-56534953534875,1303000417_TR,0,0,0,0,0,1,0,0,0,0,0,0,0
2,55575657-56534856555377,1303000419_TR,0,0,0,0,0,1,0,0,0,0,0,0,0
3,55574956-54495756525578,1303000422_TR,0,0,0,0,0,1,0,0,0,0,0,0,0
4,55575448-52555350555377,1303000423_TR,0,0,0,0,0,1,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
84363,55575054-54495549565779,5413090_TR,0,0,0,0,0,0,0,0,0,0,0,0,1
84364,55574954-51515453545476,5413108_TR,0,0,0,0,0,0,0,1,0,0,0,0,0
84365,55574953-50545748515570,5413114_TR,38,0,0,0,1,0,0,0,0,0,0,0,0
84366,55574851-49555357575079,5413116_ES,0,0,0,0,0,0,0,0,0,1,0,0,0
84367,55575349-53505051515379,5413126_TR,3,0,0,4,0,0,0,0,0,0,0,0,0

### Таблицы по клиентам

In [136]:
mba_clients0 = MBC[MBC.index.isin(segment0)] 
mba_clients1 = MBC[MBC.index.isin(segment1)] 
mba_clients2 = MBC[MBC.index.isin(segment2)] 
mba_clients3 = MBC[MBC.index.isin(segment3)]

### Таблицы по чекам

In [138]:
mba0 = MB[MB["ТЕЛЕФОН"].isin(segment0)] 
mba1 = MB[MB["ТЕЛЕФОН"].isin(segment1)] 
mba2 = MB[MB["ТЕЛЕФОН"].isin(segment2)] 
mba3 = MB[MB["ТЕЛЕФОН"].isin(segment3)]

In [91]:
cols = ['ДЕТСКОЕ ПИТАНИЕ' 'ЖЕНСКИЕ ШТУЧКИ' 'ИГРУШКИ' 'КАНЦТОВАРЫ, КНИГИ, ДИСКИ' 'КОСМЕТИКА/ГИГИЕНА' 'КРУПНОГАБАРИТНЫЙ ТОВАР' 'ОБУВЬ' 'ПОДГУЗНИКИ' 'СОПУТСТВУЮЩИЕ ТОВАРЫ' 'ТЕКСТИЛЬ, ТРИКОТАЖ' 'ТЕХНИКА И ТОВАРЫ ДЛЯ ДОМА' 'ТОВАРЫ ДЛЯ ЖИВОТНЫХ' 'ТОВАРЫ ДЛЯ КОРМЛЕНИЯ']

In [142]:
params = ["support", "confidence", "lift", "expected confidence"] 
rows = [' + '.join(i) for i in itertools.permutations(cols, 3)] 
pairs = list(itertools.permutations(cols, 3))

In [143]:
res_bills0 = pd.DataFrame(0.0, index=[i for i in rows], columns=params) 
res_bills1 = pd.DataFrame(0.0, index=[i for i in rows], columns=params) 
res_bills2 = pd.DataFrame(0.0, index=[i for i in rows], columns=params) 
res_bills3 = pd.DataFrame(0.0, index=[i for i in rows], columns=params) 
res_clients0 = pd.DataFrame(0.0, index=[i for i in rows], columns=params) 
res_clients1 = pd.DataFrame(0.0, index=[i for i in rows], columns=params) 
res_clients2 = pd.DataFrame(0.0, index=[i for i in rows], columns=params) 
res_clients3 = pd.DataFrame(0.0, index=[i for i in rows], columns=params)

### Таблица считается способом итерирования по спискам для оптимизации процесса

In [149]:
def support(a, b, df):
    a = df[a].values.tolist()
    b = df[b].values.tolist()
    counter = 0
    for i in range(0, len(b)):
        if a[i] > 0 and b[i] > 0:
            counter += 1
    return counter/len(b)

In [150]:
def confidence(a, b, df):
    a = df[a].values.tolist()
    b = df[b].values.tolist()
    counter = 0
    total = 0
    for i in range(0, len(a)):
        if a[i] > 0:
            total += 1
            if b[i] > 0:
                counter += 1
    if total != 0:
        return counter/total
    else:
        return 0.0

In [151]:
def expconf(a, b, df):
    a = df[a].values.tolist()
    b = df[b].values.tolist()
    counter = 0
    for i in range(0, len(b)):
        if b[i] > 0:
            counter += 1
    return counter/len(b)

In [152]:
def compute_mba(result, mba, pairs):
    for i in range(0, len(pairs)):
        sup = support(pairs[i][0], pairs[i][1], mba)
        conf = confidence(pairs[i][0], pairs[i][1], mba)
        exconf = expconf(pairs[i][0], pairs[i][1], mba)
        if exconf != 0:
            lift = (conf / exconf)
        else: 
            lift = 0
        result['support'][i] = sup
        result['confidence'][i] = conf
        result['expected confidence'][i] = exconf
        result['lift'][i] = lift
    return result

### Подсчет всех таблиц

In [153]:
res_bills0 = compute_mba(res_bills0, mba0, pairs) 
res_bills1 = compute_mba(res_bills1, mba1, pairs) 
res_bills2 = compute_mba(res_bills2, mba2, pairs) 
res_bills3 = compute_mba(res_bills3, mba3, pairs) 
res_сlients0 = compute_mba(res_clients0, mba_clients0, pairs) 
res_clients1 = compute_mba(res_clients1, mba_clients1, pairs) 
res_clients2 = compute_mba(res_clients2, mba_clients2, pairs) 
res_clients3 = compute_mba(res_clients3, mba_clients3, pairs)

In [154]:
res_bills1

Empty DataFrame
Columns: [support, confidence, lift, expected confidence]
Index: []

### Перевод в проценты

In [101]:
def percent_mba(res):
    for i in range(0, len(res)):
        res["support"][i] *= 100
        res["confidence"][i] *= 100
        res["expected confidence"][i] *= 100
    res.columns = ['support(%)', 'confidence(%)', 'lift', 'expected confidence(%)']
    return res

In [102]:
mba_clients_list = [res_clients0, res_clients1, res_clients2, res_clients3] 
mba_bills_list = [res_bills0, res_bills1, res_bills2, res_bills3]

In [103]:
for df in mba_clients_list:
    df = percent_mba(df)
for df in mba_bills_list:
    df = percent_mba(df)

In [104]:
res_clients0.to_csv('mba_clients0.csv', index=False, sep=';', encoding='utf-8-sig') 
res_clients1.to_csv('mba_clients1.csv', index=False, sep=';', encoding='utf-8-sig') 
res_clients2.to_csv('mba_clients2.csv', index=False, sep=';', encoding='utf-8-sig') 
res_clients3.to_csv('mba_clients3.csv', index=False, sep=';', encoding='utf-8-sig') 
res_bills0.to_csv('mba_bills0.csv', index=False, sep=';', encoding='utf-8-sig') 
res_bills1.to_csv('mba_bills1.csv', index=False, sep=';', encoding='utf-8-sig') 
res_bills2.to_csv('mba_bills2.csv', index=False, sep=';', encoding='utf-8-sig') 
res_bills3.to_csv('mba_bills3.csv', index=False, sep=';', encoding='utf-8-sig')

### Переоткроем эти же таблицы, чтобы не перенагружать процесс

In [109]:
res_clients0 = pd.read_csv('mba_clients0.csv', sep=';', encoding='utf-8-sig') 
res_clients1 = pd.read_csv('mba_clients1.csv', sep=';', encoding='utf-8-sig') 
res_clients2 = pd.read_csv('mba_clients2.csv', sep=';', encoding='utf-8-sig') 
res_clients3 = pd.read_csv('mba_clients3.csv', sep=';', encoding='utf-8-sig') 
res_bills0 = pd.read_csv('mba_bills0.csv', sep=';', encoding='utf-8-sig') 
res_bills1 = pd.read_csv('mba_bills1.csv', sep=';', encoding='utf-8-sig') 
res_bills2 = pd.read_csv('mba_bills2.csv', sep=';', encoding='utf-8-sig') 
res_bills3 = pd.read_csv('mba_bills3.csv', sep=';', encoding='utf-8-sig')

In [110]:
res_bills0 = res_bills0.rename(columns={"Unnamed: 0": "Пара"}) 
res_bills1 = res_bills1.rename(columns={"Unnamed: 0": "Пара"}) 
res_bills2 = res_bills2.rename(columns={"Unnamed: 0": "Пара"}) 
res_bills3 = res_bills3.rename(columns={"Unnamed: 0": "Пара"}) 
res_clients0 = res_clients0.rename(columns={"Unnamed: 0": "Пара"}) 
res_clients1 = res_clients1.rename(columns={"Unnamed: 0": "Пара"}) 
res_clients2 = res_clients2.rename(columns={"Unnamed: 0": "Пара"}) 
res_clients3 = res_clients3.rename(columns={"Unnamed: 0": "Пара"})

### РАССМОТРИМ MARKET BASKET ПО ЧЕКАМ ДЛЯ ЧЕТЫРЕХ СЕГМЕНТОВ

### 1 сегмент по чекам

In [116]:
df = res_bills0[(res_bills0["support(%)"] >= 0.2) & (res_bills0["confidence(%)"] >= 5)]
df.sort_values(['support(%)'], ascending = False)

Empty DataFrame
Columns: [support(%), confidence(%), lift, expected confidence(%)]
Index: []